{% extends 'base.html' %}
{% block content %}

  <h2>Movie Info</h2>

  <p> Title: {{movie.title}}</p>

    <p> IMDb: <a href="{{movie.IMDb}}">Link</a></p>

      <p> Release date: {{movie.release_date}}</p>

    <p>Ratings</p>
      {%for r in movie.ratings_data%}
        <li>

          Score: {{r.score}}
        </li>

        {%endfor%}

        {%if 'user_id' in session  %}
            

        <p>You are in! Score :{{scores}}</p>


        <form action = "/movies/{{ movie.movie_id}}" method = "POST">
            Put your score <input type="text" name="score">
            
            <input type="submit" value = "Submit a score" >
        </form>
    

      {%endif%}
 
{% endblock %}